.bar {
    background-color:#FFF;
    width: 340px;
    height: 40px;
    border: 5px solid #000;
}

.bar .b25 {
    background-color:#7C5E99;
    width: 85px;
    height: 40px;
}

.bar .b50 {
    background-color:#7C5E99;
    width: 170px;
    height: 40px;
}

.bar .b75 {
    background-color:#7C5E99;
    width: 255px;
    height: 40px;
}

.bar .b100 {
    background-color:#7C5E99;
    width: 340px;
    height: 40px;
}