.card-carrosel {
    display: inline-flex;
    background-color: #CEB02A;
    border: 5px solid #000;
    padding: 45px 20px;
}

.card-carrosel.-noPad {
    padding: 0;
}

.card-carrosel.-noBorder {
    border: none;
}

.card-carrosel.-secondPad {
    padding: 10px;
}

.card-carrosel.-thirdPad {
    padding: 40px 20px;
}

.card-carrosel.-fourthPad {
    padding: 8px;
}


.card-carrosel.-bgFirst {
    background-color: #F25A70;
}