.project-card {
    background-color: rgb(255, 0, 0);
    box-sizing: border-box;
    max-width: 280px;
    max-height: 280px;
    box-shadow: 10px 10px 0 #FFF;
}

.project-card.-firelabs {
    background-color:#7C5E99;
    padding: 12px 35px 15px 35px;
}

.project-card.-colabcode {
    background-color:#4C5B84;
    padding: 12px 15px 14px 20px;
}

.project-card.-portfolio{
    padding: 0;
}