.skills {
    background-color: #F25A70;
    text-align: center;
    border-bottom: 10px solid #7C5E99;
}

.skills .title {
    padding-top: 50px;
    margin-bottom: 60px;
}

.skills .wrapper {
    display: flex;
    max-width: 960px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    
}